<h1>Listagem de dispositivos</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <a type="submit" class="btn btn-primary" ng-href="#/formDispositivo"
            ng-show="$root.getPermissao() === 'ADMINISTRADOR'">
            <i class="glyphicon glyphicon-plus"></i> Adicionar
        </a>
    </div>
</div>
<table class="table table-striped">
    <tr>
        <th>Descrição</th>
        <th>Endereço</th>
        <th>Status</th>
        <th>Data</th>
        <th>Criação</th>
        <th></th>
    </tr>
    <tr dir-paginate="dispositivo in dispositivos | itemsPerPage: pageSize" current-page="currentPage">
        <td>{{dispositivo.descricao}}</td>
        <td>{{dispositivo.endereco}}</td>
        <td>{{dispositivo.status}}</td>
        <td>{{dispositivo.status_data | date:'dd/MM/yyyy'}}</td>
        <td>{{dispositivo.data | date:'dd/MM/yyyy'}}</td>
        <td class="col-md-2 text-right">
            <a class="btn btn-danger" data-toggle="modal" data-target="#dispositivoModal"
                ng-click="selecionarDispositivo(dispositivo)"
                ng-show="$root.getPermissao() === 'ADMINISTRADOR'">
                <i class="glyphicon glyphicon-trash"></i>
            </a>
            <a class="btn btn-default" ng-href="#/formDispositivo/{{dispositivo.codigo}}"
                ng-show="$root.getPermissao() === 'ADMINISTRADOR'">
                <i class="glyphicon glyphicon-edit"></i>
            </a>
        </td>
    </tr>
</table>
<dir-pagination-controls boundary-links="true" on-page-change="pageChangeHandler(newPageNumber)" template-url="bower_components/angular-utils-pagination/dirPagination.tpl.html"></dir-pagination-controls>
<!-- Modal -->
<div class="modal fade" id="dispositivoModal" tabindex="-1" role="dialog" aria-labelledby="dispositivoModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title" id="dispositivoModalLabel">Excluir dispositivo?</h4>
            </div>
            <div class="modal-body">
                Deseja excluir o dispositivo [{{dispositivo.descricao}}]?
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Cancelar</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal" ng-click="removerDispositivo()">Excluir</button>
            </div>
        </div>
    </div>
</div>