<h1>Formulário do tipo de dispositivo</h1>
<div class="panel panel-default">
    <div class="panel-body">
        <a type="submit" class="btn btn-primary" ng-href="#/listTipoDispositivo">
            <i class="glyphicon glyphicon-chevron-left"></i> Voltar
        </a>
    </div>
</div>
<form name="formTipoDispositivo" class="form-horizontal">
    <div class="form-group" ng-class="{'has-error' : isInvalidField('inputNome')}">
        <label class="control-label col-md-2" for="inputNome">Nome</label>
        <div class="col-md-6">
            <input name="inputNome"
                   type="text"
                   class="form-control"
                   id="inputNome"
                   placeholder="Nome do tipo de dispositivo"
                   ng-model="tipoDispositivo.nome"
                   required>
        </div>
        <span class="help-block col-md-4" ng-show="isInvalidField('inputNome')">Campo é obrigatório!</span>
    </div>   


    <div class="form-group" ng-class="{'has-error' : isInvalidField('inputCategoria')}">
        <label class="control-label col-md-2" for="inputCategoria">Categoria de Layer</label>
        <div class="col-md-6">
            <select name="inputCategoria"
                    id="inputCategoria"
                    class="form-control"
                    ng-model="tipoDispositivo.codigo_categoria_layer"
                    ng-options="categoria.codigo as categoria.nome for categoria in categoriasLayer">
            </select>
        </div>
    </div> 

    <hr>
    <a type="submit" class="btn btn-default" ng-click="limpar()">Limpar</a>
    <a type="submit" class="btn btn-primary" ng-click="salvar()" ng-show="!tipoDispositivo.codigo" ng-disabled="!isInvalidForm()">Salvar</a>
    <a type="submit" class="btn btn-primary" ng-click="editar()" ng-show="tipoDispositivo.codigo" ng-disabled="!isInvalidForm()">Editar</a>
</form>